last 2 version
not ie > 1
not IE_Mob > 1
not BlackBerry > 1
not samsung > 1
not op_mini all
not op_mob > 1
not baidu > 1
not and_qq > 1
not and_uc > 1
not kaios > 1
not opera > 1
not and_chr > 1
not and_ff > 1
