//- ui section
section.ui-section
  .ui-section__container.container
    .ui-typography
      p Font Family: Montserrat
      h1.h1 Heading 1 / 48px
      h2.h2 Heading 2 / 36px
      h3.h3 Heading 3 / 18px
      h4.h4 Heading 4 / 16px
      p What is Lorem Ipsum?
      p Lorem <mark> Ipsum </mark> is simply dummy text of the <a hre="#">printing</a> and <a href="#">typesetting</a> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
