//- ui section
section.ui-section
  .ui-section__container.container
    .ui-buttons
      //- text, iconLeft
      +buttonComponent(
        "Запустить проверку",
        "doc"
      )(class="button--ui-page")
      //- text, iconLeft
      +buttonComponent(
        "Оплатить проверки",
        "wallet"
      )
      //- href, text, iconLeft
      +buttonLinkComponent(
        "#",
        "Перейти в конструктор",
        ""
      )
      //- href, text, iconLeft
      +buttonLinkComponent(
        "#",
        "Скачать пример отчета",
        "download"
      )(class="button--secondary")
      //- href, text, iconLeft
      +buttonLinkComponent(
        "#",
        "@AlexKost_Staffscan",
        "telegram"
      )(class="button--third")
      //- text, iconLeft
      +buttonComponent(
        "Запустить проверку",
        "rocket"
      )
      //- text, iconLeft
      +buttonComponent(
        "Отправить",
        "rocket"
      )
      //- href, text, iconLeft, iconRight
      +buttonLinkComponent(
        PAGES.check.href,
        "Запустить еще одну проверку",
        "",
        "search"
      )(class="button--icon-right button--blue")

