//- ui section
section.ui-section.ui-section--gap(style="background-color: #02448a;")
  .ui-section__container.container
    .ui-checkboxes
      +checkboxCompomnent(
        "Я принимаю условия соглашения об обработке персональных данных"
      )(class="checkbox--white")
