//- ui section
section.ui-section.ui-section--gap(style="background-color: #207CC8;")
  .ui-section__container.container
    .ui-checkboxes
      +checkboxCompomnent(
        "Отправляя данную форму, я подтверждаю, что согласие проверяемого на получение его персональных данных у меня имеется. Я ознакомился с Политикой  обработки персональных данных StaffScan и обязуюсь не передавать персональные данные проверяемых персон третьим лицам"
      )
