section.service#service
  .container.service__container
    h2.service__title Как работает сервис
    .service__list
      .service__item
        .service__num #01
        .service__text Выбираете и оплачиваете тарифный план. На указанный email приходит письмо со ссылкой на заполнене персональных данных.
      .service__item
        .service__num #02
        .service__text Вводите персональные данные исследуемого или отправляете ему ссылку на заполнение своих персональных данных
      .service__item
        .service__num #03
        .service__text Происходит поиск по базам  и вы получаете отчет в зависимости от вашего тарифа на email или в мессенджеры на выбор
      a(href="#" class="service__link you-link" target="_blank" rel="noreferrer nofollow")
        img(src="images/youtube_button.svg" class="you-link__icon" alt="Youtube Logo")
        span.you-link__text Узнать за минуту
