// footer
footer.page__footer#footer.footer
  //- top
  .footer__top
    .container.footer__container
      .footer__panel
        a(href="index.html" class="footer__logo"): img(src="images/logo_white.svg" alt="logo")
        // menu button
        button(class="footer__button-menu js-button-menu button-menu button-menu--white" aria-describedby="Menu" data-mobile-menu-open)
          i.icon-menu
            span.icon-menu__line
    .container.footer__container
      .footer__column
        .footer__row
          .footer__logo-wrapper
            a(href="index.html" class="footer__logo"): img(src="images/logo_white.svg" alt="logo")
          .footer__contacts
            .footer__contacts-item Россия, Санкт-Петребург, Большой Сампсониевский пр-т, 106, оф. 407
            .footer__contacts-item E-mail: info@staffscan.ru
        .footer__row
          a(href="tel:88005553322" class="footer__phone") 8-800-555-33-22
      .footer__column
        ul.footer__menu
          li.footer__menu-item: a(href="#specialist" class="footer__menu-link js-link-scroll") О сервисе
          li.footer__menu-item: a(href="#service" class="footer__menu-link js-link-scroll") Как работает
          li.footer__menu-item: a(href="#tariffs" class="footer__menu-link js-link-scroll") Тарифы
          li.footer__menu-item: a(href="#service-check" class="footer__menu-link js-link-scroll") Кого проверять
          li.footer__menu-item: a(href="#sources" class="footer__menu-link js-link-scroll") Источники
          li.footer__menu-item: a(href="#file-report" class="footer__menu-link js-link-scroll") Отчёт
          li.footer__menu-item: a(href="#clients" class="footer__menu-link js-link-scroll") Клиенты
        .footer__subcolumn
          .footer__external-info
            a(href= PAGES.privacy_policy.href, class="footer__external-item") Политика конфиденциальности
            a(href=PAGES.user_agreement.href, class="footer__external-item") Пользовательское соглашение
            a(href=PAGES.shipping_payment.href, class="footer__external-item") Доставка и оплата
            a(href=PAGES.public_offer.href, class="footer__external-item") Публичная оферта
            a(href=PAGES.bank_details.href, class="footer__external-item") Банковские реквизиты
          .footer__messengers
            a(href="#" class="footer__messengers-item" target="_blank" rel="noreferrer nofollow"): +icon("telegram")
            a(href="#" class="footer__messengers-item" target="_blank" rel="noreferrer nofollow"): +icon("instagram")
            a(href="#" class="footer__messengers-item" target="_blank" rel="noreferrer nofollow"): +icon("youtube")
          //- href, text, iconLeft
          +buttonLinkComponent(
            "#",
            "Запустить проверку",
            "doc"
          )(class="footer__button")
  //- bottom
  .footer__bottom
    .container.footer__container
      .footer__copyrite © 2021. StaffScan LLC. All rights reserved
      a(href="https://masco.design/" class="footer__author" target="_blank" rel="noreferrer nofollow") Designed by Masco.design
