//- layout/page.pug
extends ../lib/layouts/index.template.pug
include ../lib/check_page_component/breadcrumbs/breadcrumbs

block variables
  - var title = PAGES.check.title;
  - var pageClass = "page--white-bg";

//- header = first screen
block header
  include ../lib/headers/header_simple/header_simple
  include ../lib/home_page_components/mobile_menu/mobile_menu

//- content
block content
  //- breadcrumbs
  +breadcrumbsComponent("Проверка физических лиц")
  include ../lib/check_page_component/check_forms/check_forms


//- scripts
block scripts
