//- layout/page.pug
extends ../lib/layouts/index.template.pug
include ../lib/check_page_component/breadcrumbs/breadcrumbs

block variables
  - var title = PAGES.entering_data.title;
  - var pageClass = "page--white-bg";

//- header = first screen
block header
  include ../lib/headers/header_simple/header_simple
  include ../lib/home_page_components/mobile_menu/mobile_menu

//- content
block content
  //- breadcrumbs
  +breadcrumbsComponent(
    "Проверка физических лиц",
    "Для инициализации проверки физического лица, введите необходимые данные и подтвердите cогласие на обработку персональных данных проверяемого кандидата или отправьте ссылку на эту страницу непосредственно кандидату, чтобы он сделал это самостоятельно."
  )
  include ../lib/entering_data_components/check_forms/check_forms


//- scripts
block scripts
