//- layout/page.pug
extends ../lib/layouts/index.template.pug

block variables
  - var title = PAGES.home.title;
  - var pageClass = "";

//- content
block content

//-popups
block popups

//- scripts
block scripts
