//- layout/page.pug
extends ../lib/layouts/index.template.pug

block variables
  - var title = PAGES.home.title;
  - var pageClass = "";

//- header = first screen
block header
  include ../lib/home_page_components/header/header
  include ../lib/home_page_components/mobile_menu/mobile_menu

//- content
block content
  include ../lib/home_page_components/first_screen/first_screen
  include ../lib/home_page_components/service/service
  include ../lib/home_page_components/free_report/free_report
  include ../lib/home_page_components/tariffs/tariffs
  include ../lib/home_page_components/service_check/service_check
  include ../lib/home_page_components/sources/sources
  include ../lib/home_page_components/file_report/file_report
  include ../lib/home_page_components/specialist/specialist

//-popups
block popups

//- scripts
block scripts
