//- layout/page.pug
extends ../lib/layouts/info.template.pug

block variables
  - var title = PAGES.privacy_policy.title;
  - var pageClass = "";

//- sidebar
block sidebar

//- content
block content


//- scripts
block scripts
