form(id="form-entering-data" class="form-report form-report--entering-data")
  //- row
  .form-report__row.row
    .col-sm-4
      //- id, text
      +labelComponent('#lastname', "Фамилия:")(class="form-report__label")
      //- type,id, placeholder, requiredAttr
      +inputComponent(
        "text",
        "#lastname",
        "Например, Иванов"
      )(class="form-report__input")
    .col-sm-4
      //- id, text
      +labelComponent('#lastname', "Имя:")(class="form-report__label")
      //- type,id, placeholder, requiredAttr
      +inputComponent(
        "text",
        "#firstname",
        "Например, Иван"
      )(class="form-report__input")
    .col-sm-4
      //- id, text
      +labelComponent('#middlename', "Отчество:")(class="form-report__label")
      //- type,id, placeholder, requiredAttr
      +inputComponent(
        "text",
        "#middlename",
        "Например, Иванович"
      )(class="form-report__input")
  //- row
  .form-report__row.row
    .col-sm-4
      label.label-form.form-report__label Год рождения:
      //- select
      include select_year/select_year
    .col-sm-8
      //- id, text
      +labelComponent('#city', "Год проживания:")(class="form-report__label")
      //- type,id, placeholder, requiredAttr
      +inputComponent(
        "text",
        "#city",
        "например, Александровск-Сахалинский"
      )(class="form-report__input")
  //- row
  .form-report__row.row.form-report__row--passport
    .col-xs-12.col-xxl-8
      .row
        .col-sm-4.col-xxl-4
          fieldset.fieldset
            label.label-form.form-report__label Серия паспорта:
            .fieldset__group-number
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
        .col-sm-8.col-xxl-8
          fieldset.fieldset
            label.label-form.form-report__label Номер паспорта:
            .fieldset__group-number
              .fieldset__group-number
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
              .fieldset__group-number
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
              .fieldset__group-number
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
    .col-xs-12.col-xxl-4
      fieldset.fieldset
        label.label-form.form-report__label Дата выдачи:
        .fieldset__group-number
          .fieldset__group-date
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="2")
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="2")
          .fieldset__group-date
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="2")
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="2")
          .fieldset__group-date
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="2")
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="2")
  //- row
  .form-report__row.row.form-report__row--organization
    .col-xl-7.col-xxl-8
      //- id, text
      +labelComponent('#organization', "Кем выдан:")(class="form-report__label")
      //- type,id, placeholder, requiredAttr
      +inputComponent(
        "text",
        "#organization",
        "Наименование организации"
      )(class="form-report__input")
    .col-xl-5.col-xxl-4
      fieldset.fieldset
        label.label-form.form-report__label Код подразделения:
        .fieldset__group-number
          .fieldset__group-number
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
          .fieldset__group-number
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
            input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
  //- row
  .form-report__row.row
    .col-xs-12.col-xxl-7
      .row
        .col-xs-12
          fieldset.fieldset
            label.label-form.form-report__label Идентификационный номер налогоплательщика (ИНН)
            .fieldset__group-number
              input(type="text" class="input form-report__input js-mask-number" placeholder="12 цифр" maxlength="12")
        .col-sm-4
          fieldset.fieldset
            label.label-form.form-report__label Серия ВУ:
            .fieldset__group-number
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
              input(type="text" class="input form-report__input fieldset__input" placeholder="0" maxlength="2")
        .col-sm-8
          fieldset.fieldset
            label.label-form.form-report__label Номер ВУ:
            .fieldset__group-number
              .fieldset__group-number
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
              .fieldset__group-number
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
              .fieldset__group-number
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
                input(type="text" class="input form-report__input fieldset__input js-mask-number" placeholder="0" maxlength="1")
    .col-xs-12.col-xxl-5
      .form-report__checkbox
        +checkboxCompomnent(
          "Я подтверждаю, свое согласие или согласие проверяемого на обработку его персональных данных. Я ознакомился с Политикой  обработки персональных данных StaffScan, содержание документа мне понятно в полной мере и понятна ответственность за передачу персональных данных третьим лицам. Я обязуюсь не передавать персональные данные проверяемых персон третьим лицам и не содействовать в такой передаче. "
        )
  //- row
  .form-report__row.row
    .col-xs-12.form-report__submit
      //- text, iconLeft
      +buttonComponent(
        "Запустить проверку",
        "rocket"
      )(type="submit" class="button--large button--full-width")

