// header
header.header.page__header.page__header--fixed
  .container.header__container
    //- logo
    a(href="index.html" class="logo")
      img(src="images/logo.svg")
    //- menu
    nav.menu
      ul.menu__list
        li.menu__item: a(href="#specialist" class="menu__link js-link-scroll") О Сервисе
        li.menu__item: a(href="#service" class="menu__link js-link-scroll") Как работает
        li.menu__item: a(href="#tariffs" class="menu__link js-link-scroll") Тарифы
        li.menu__item: a(href="#service-check" class="menu__link js-link-scroll") Кого проверять
        li.menu__item: a(href="#sources" class="menu__link js-link-scroll") Источники
        li.menu__item: a(href="#file-report" class="menu__link js-link-scroll") Отчет
        li.menu__item: a(href="#clients" class="menu__link js-link-scroll") Клиенты
        li.menu__item: a(href="#footer" class="menu__link js-link-scroll") Контакты
    .header__group
      //- phone
      a(href="tel:88005553322" class="header__phone phone-block")
        .phone-block__icon
          +icon('phone')
        .phone-block__content
          .phone-block__num 8-800-555-33-22
          .phone-block__text бесплатно по рф
      //- button menu
      include ../button_menu/button_menu

