include ../../lib/core/mixins/global_mixins

//- global variables
block variables

doctype html
html(lang="ru")
  include modules/head
  body(class="page " + pageClass)
    //- header
    include ../../lib/headers/header_static/header_static
    include ../../lib/home_page_components/mobile_menu/mobile_menu

    //- wrapper
    .page__wrapper.page__wrapper--columns
      //- mobile panel
      .page__panel
        //- button
        button(class="button-sidebar" data-sidepanel-open)
          +icon('menu')
          span.button-sidebar__text Меню
      .page__container
        //-sidebar
        aside.page__sidebar.js-sidebar
          block sidebar

        //- page content
        main.page__content.content
          block content

      //- mobile overlay
      #sidebar-overlay.page-overlay
    //- footer
    include ../../lib/components/footer/footer

    //- page scripts
    include modules/scripts
    block scripts

    //- !REMOVE FOR PRODUCTION
    include ../../utils/navigation-pages
