include ../../lib/core/mixins/global_mixins

//- global variables
block variables

doctype html
html(lang="ru")
  include modules/head
  body(class="page " + pageClass)
    //- header
    include ../../lib/headers/header_static/header_static
    include ../../lib/home_page_components/mobile_menu/mobile_menu

    .page__wrapper.page__wrapper--collumns

      //-sidebar
      aside.page__sidebar
        block sidebar

      //- page content
      main.page__content
        block content

    //- footer
    include ../../lib/components/footer/footer

    //- page scripts
    include modules/scripts
    block scripts

    //- !REMOVE FOR PRODUCTION
    include ../../utils/navigation-pages
