mixin inputComponent(type="text", placeholder="Ваш телефон", requiredAttr= true)
  input(
    type= type,
    placeholder= placeholder,
    class="form-input",
    required= requiredAttr
  )&attributes(attributes)
