.section-info
  .container.section-info__container
    .section-info__content
      .section-info__text
        span Внимание!
        |
        | Для всех видов проверок в соответствиии с
        |
        a(href="#" target="_blank" rel="noreferrer nofollow") Федеральными законом "О персональных данных" от 27.07.2006 N 152-ФЗ
        |
        | , требуются паспортные данные человека, которого вы хотите проверить и его согласие на обработку его персональных данных! Подробнее с Заоном вы можете ознакомиться в источнике:
      a(href="#" class="section-info__link" target="_blank" rel="noreferrer nofollow")
        img(src="images/portal.jpg" alt="изображение портала")
    .section-info__image
      img(src="images/shield.png" alt="Герб")
