mixin buttonLinkComponent(href, text, iconLeft)
  a(class="button")&attributes(attributes)
    //- left icon
    if(iconLeft)
      +icon(iconLeft, "button__icon")
    //- button text
    span(class="button__text")= text
