mixin buttonComponent(text, iconLeft)
  button(class="button")&attributes(attributes)
    //- left icon
    if(iconLeft)
      +icon(iconLeft, "button__icon")
    //- button text
    span.button__text= text
