.first-screen__advantages.advantages-list
  .container.advantages-list__container
    //- item
    .advantages-list__item
      .advantages-list__title Достоверно
      .advantages-list__text Формируем отчёт, обращаясь к множеству официальных независимых истоников
    //- item
    .advantages-list__item
      .advantages-list__title Быстро
      .advantages-list__text Вы получите отчет либо мгновенно, либо пока наливаете кофе, в зависимости от тарифа
    //- item
    .advantages-list__item
      .advantages-list__title С гарантией
      .advantages-list__text Вы получите свои деньги обратно если информация в отчете окажется недостоверной
