mixin checkboxCompomnent(labelText, name)
  label(
    class="checkbox"
  )&attributes(attributes)
    input(type="checkbox" class="checkbox__input" required="required", name, checked)
    span.checkbox__icon
      +icon('checkbox-mark')
    span.checkbox__label= labelText
