mixin checkboxCompomnent(labelText, name, chackedAttr= false)
  label(
    class="checkbox"
  )&attributes(attributes)
    input(type="checkbox" class="checkbox__input" required="required", name, chacked= chackedAttr)
    span.checkbox__icon
      +icon('checkbox-mark')
    span.checkbox__label= labelText
